@use "reset";

body {
  font-family: "Agbalumo", serif;
}
.mvInner {
  position: relative;
  height: 100vh;
}

.mvTitle {
  position: absolute;
  font-size: 2.5rem;
  top: 30px;
  left: 20px;
  color: #ff7c17bd;
  text-shadow: #333 0px 0px 10px;
}
.mvText {
  color: #e2ff23b1;
  text-shadow: #333 0px 0px 10px;
  text-decoration: underline;
  text-underline-offset: 12px;
  position: absolute;
  font-size: 3rem;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.mvMesses {
  color: #ffffff70;
  text-shadow: #333 1px 1px 10px;
  position: absolute;
  font-size: 1.3rem;
  bottom: 15%;
  right: 2%;
}

.vegas-slide {
  object-fit: cover;
}
