@use "reset"; // reset.scssを読み込む

// 変数の定義
$color_1: #fac8ff; //header,col-1
$color_2: #d2fcff; //nav,footer
$color_3: #c9c0ff; //main-text1,col-3-text1
$color_4: #bdd6ff; //main-text2,col-3-text2
$color_5: #caffc9; //main-text3,col-3-text3
$color_6: #291202; //text

$font_en: "M PLUS 2", sans-serif;

$point_1: 640px;
$point_2: 900px;

// 関数の定義
@mixin tb() {
  @media (min-width: $point_1) {
    @content();
  }
}

@mixin pc() {
  @media (min-width: $point_2) {
    @content();
  }
}

// font-sizeの設定

@function rem($px) {
  @return $px / 16 * 1rem;
}

// rem単位の設定
// html {
//   font-size: 62.5%; // 1rem = 10px
//   @include sp() {
//     font-size: calc(100vw / 50);
//   }
//   @include pc() {
//     font-size: calc(100vw / 80);
//   }
// }

// body {
//   font-size: 1.6rem; // 16px
// }

// ----------------------------------------------

body {
  font-family: $font_en;
  color: $color_6;
  font-size: rem(16); //pxからremに変更

  &.scroll {
    #sub-title {
      display: block;
    }
  }

  &.scroll {
    #g-nav {
      box-shadow: 0 6px 6px #b3b3b3;
    }
  }
}

// -------------------header--------------------------------------

header {
  width: 100%;
  height: 60px;
  background-color: $color_1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  z-index: calc(infinity);

  @include pc() {
    position: static; //fixedの解除
    height: auto;
    padding: 30px 0;
    justify-content: center;
  }

  h1 {
    font-size: clamp(1.5rem, 1.182rem + 1.59vw, 2.375rem);
  }
}

// -------------------btn----------------------------------------

#ham-btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;

  @include pc() {
    display: none;
  }

  span {
    position: absolute;
    display: block;
    width: 24px;
    height: 3px;
    background-color: $color_6;
    inset: 0;
    margin: auto;
    transition: 0.3s;

    &::after,
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 24px;
      height: 3px;
      background-color: $color_6;
      transition: 0.3s;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &.is-active {
    span {
      background-color: transparent;

      &::before {
        top: 0;
        // transform: rotate(45deg);
        rotate: 45deg;
      }

      &::after {
        top: 0;
        // transform: rotate(-45deg);
        rotate: -45deg;
      }
    }
  }
}

// -------------------nav----------------------------------------

#g-nav {
  //pc用
  display: none;

  @include pc() {
    display: block;
    width: 100%;
    height: 50px;
    background-color: $color_2;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  ul {
    @include pc() {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 0 10px;
    }
  }

  li {
    @include pc() {
    }

    a {
      @include pc() {
        color: $color_6;
        padding: 10px;
      }

      &:hover {
        @include pc() {
          text-decoration: underline 5px #b20dff;
          text-underline-offset: 5px;
        }
      }
    }
  }
}

// ------------------sub-title-------------------------------------

#sub-title {
  font-family: $font_en;
  position: absolute;
  line-height: 50px;
  height: 50px;
  left: 10px;
  top: 0px;
  margin: auto;
  font-weight: bold;
  font-size: rem(19);
  display: none;
}

#sp-nav {
  //sp用
  translate: 100% 0;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: $color_2;
  position: fixed;
  z-index: 10;
  top: 60px;
  left: 0;
  padding: 40px;

  &.slide {
    translate: 0;
    transition: 0.3s;
  }

  li {
    margin-bottom: 14px;

    a {
      color: $color_6;
      display: block;
      padding: 5px 10px;
      border-bottom: 1px solid #cfcfcf;
    }
  }
}

// -------------------main-contents-------------------------------------

main {
  // padding: 70px 10px 10px;
  padding-top: 70px;
  padding-right: 10px;
  padding-left: 10px;

  @include pc() {
    padding-top: 10px;
  }
}

.contents-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  justify-content: space-between;

  @include pc() {
    flex-direction: row-reverse;

    &:nth-of-type(2) {
      flex-direction: row;
    }
  }

  &:nth-of-type(2) {
    .main-text {
      background-color: $color_4;
    }
  }

  &:nth-of-type(3) {
    .main-text {
      background-color: $color_5;
    }
  }
}

.main-text {
  background-color: $color_3;
  text-align: center;
  padding: 30px 20px;
  margin-bottom: 10px;

  @include pc() {
    width: calc((100% - 20px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: rem(23);
    margin-bottom: 20px;
  }
  p {
    line-height: 2;
    margin-bottom: 20px;
  }
}

// 共通ボタン
.more {
  display: block;
  width: 70%;
  background-color: #fff;
  color: $color_6;
  padding: 10px 20px;
  margin: 10px auto;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid $color_6;
    border-right: 2px solid $color_6;
    // transform: rotate(45deg);
    rotate: 45deg;
    right: 20px;
    top: 40%;
  }
}

.main-img {
  width: 100%;
  aspect-ratio: 4 / 2.6;

  @include pc() {
    width: calc((100% - 20px) / 3 * 2 + 10px);
    margin-bottom: 10px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

// -------------------col-1---------------------------------------

.col-1 {
  background-color: $color_1;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;

  @include tb() {
    padding: 50px 20px;
  }
  @include pc() {
    padding: 80px 20px;
  }

  h2 {
    font-size: rem(20);
    margin-bottom: 20px;

    @include tb() {
      font-size: rem(24);
    }
    @include pc() {
      font-size: rem(28);
      line-height: 1.5;
    }
  }
  p {
    line-height: 2;
    font-size: 16px;
    max-width: 640px;
    margin: 0 auto;
  }
}

// -------------------col-3--------------------------------------

.col-3-wrapper {
  @include pc() {
    display: flex;
    justify-content: space-between;
  }
}

.col-3-box {
  margin-bottom: 10px;

  @include tb() {
    display: flex;
  }

  @include pc() {
    display: block;
    width: calc((100% - 20px) / 3);
  }

  &:nth-of-type(2) {
    .col-3-text {
      background-color: $color_4;
    }
  }

  &:nth-of-type(3) {
    .col-3-text {
      background-color: $color_5;
      margin-bottom: 0;
    }
  }
}

.col-3-img {
  width: 100%;
  aspect-ratio: 2 / 1;

  @include tb() {
    width: 50%;
    aspect-ratio: 4 / 3;
  }

  @include pc() {
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.col-3-text {
  background-color: $color_3;
  text-align: center;
  padding: 20px;

  @include tb() {
    width: 50%;
    padding-top: 40px;
  }

  @include pc() {
    width: 100%;
  }

  h3 {
    font-size: rem(20);
  }
}

.icon {
  width: 60px;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 20px auto;
}

// -------------------footer--------------------------------------

footer {
  background-color: $color_2;
  margin: 0 10px 10px;
  p {
    text-align: center;
    padding: 20px 0;
  }
}
