@charset "UTF-8";
body {
  font-family: "Agbalumo", serif;
}
.mvInner {
  position: relative;
  height: 100vh;
}

.mvTitle {
  position: absolute;
  font-size: 3.1rem;
  top: 50px;
  left: 50px;
  color: #d36816e9;
  text-shadow: #333 1px 1px 20px;
}
.mvText {
  color: #dcf536ef;
  text-shadow: #333 1px 1px 20px;
  position: absolute;
  font-size: 2.5rem;
  top: 100px;
  left: 50px;
}
.mvMesses {
  color: #ffffff70;
  text-shadow: #333 1px 1px 10px;
  position: absolute;
  font-size: 1.3rem;
  bottom: 10%;
  right: 2%;
}

.vegas-slide {
  object-fit: cover;
}
