@charset "UTF-8";
.mvInner {
  height: 100vh;
}
.mvTitle {
  color: #fff;
  font-size: 3rem;
}
.mvText {
  color: #fff;
  font-size: 1.5rem;
}

.vegas-slide-inner {
  background-size: 100%;
  background-position: 50% 50%;
  height: 100vh;
}
