@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search][type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted;
}

[type=reset], [type=submit], button, html [type=button] button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  letter-spacing: 0.05em;
}

canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
/* パーティカル */
#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* カラーを変更でOK */
  background-color: #c3b6d3;
}

.header {
  width: 100%;
  height: 95vh;
}

.header__title {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.header__title h1 {
  display: block;
  background-color: #ff7441;
  width: 100%;
  font-size: 60px;
  margin-bottom: 10px;
  -webkit-clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
          clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
}
.header__title p {
  font-size: 20px;
  font-weight: bold;
}

.header__text {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.header__text p {
  font-size: 16px;
}
.header__text p a {
  color: #333;
}
.header__text p a:hover {
  -webkit-text-decoration: underline 2px solid rgba(255, 116, 65, 0.6235294118);
          text-decoration: underline 2px solid rgba(255, 116, 65, 0.6235294118);
  text-underline-offset: 5px;
}

#g-nav {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.337254902);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 10vh;
  -webkit-box-shadow: 0 10px 10px rgba(21, 21, 21, 0.1019607843);
          box-shadow: 0 10px 10px rgba(21, 21, 21, 0.1019607843);
}
#g-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 0 100px;
}
#g-nav ul li a {
  display: block;
  font-size: 15px;
  color: #333;
  font-weight: bolder;
}
#g-nav ul li a:hover {
  -webkit-text-decoration: underline 2px solid #333;
          text-decoration: underline 2px solid #333;
  text-underline-offset: 5px;
}

#about,
#skill {
  background-color: rgba(255, 255, 240, 0.2823529412);
}

.page-section {
  min-height: 100vh;
  padding: 80px 10px;
  scroll-margin-top: 70px;
}
.page-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.about-container,
.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.profile-img {
  margin-top: 50px;
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile-img img {
  width: 100%;
  border-radius: 50%;
}
.profile-img:hover {
  scale: 1.1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.profile-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.profile-body p + p {
  margin-top: 50px;
}
.profile-body p {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
.profile-body p a {
  color: #333;
}
.profile-body p a:hover {
  -webkit-text-decoration: underline 2px solid rgba(255, 116, 65, 0.6235294118);
          text-decoration: underline 2px solid rgba(255, 116, 65, 0.6235294118);
  text-underline-offset: 5px;
}
.profile-body p span {
  font-weight: bold;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

.works-wrapper {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 150px 40px;
}

.works-box {
  width: calc((100% - 80px) / 3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.works-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.works-box a {
  color: #111;
}
.works-box a h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.works-box a:hover h3 {
  color: #ffffff;
  text-shadow: 0 0 4px #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
  margin-bottom: 50px;
}

.skill-img {
  margin-top: 20px;
  width: 60px;
  height: auto;
  margin-right: 20px;
  aspect-ratio: 1/1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.skill-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.skill-img img + img {
  margin-top: 20px;
}

.skill-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skill-name {
  margin-bottom: 10px;
}

.skill-text {
  font-size: 14px;
  line-height: 1.8;
}

.page-inner {
  padding-inline: 50px;
}

.page-works header {
  background-color: rgba(243, 243, 190, 0.8862745098);
  text-align: center;
  padding: 30px 0;
}
.page-works .main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-inline: 50px;
}
.page-works .main-visual {
  max-width: 960px;
  margin: 80px auto;
}
.page-works dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto 80px;
  padding: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-works dl dt {
  width: 30%;
  margin-bottom: 20px;
  font-weight: bold;
}
.page-works dl dd {
  width: 50%;
  margin-bottom: 20px;
}
.page-works dl dd a {
  color: #111;
}
.page-works dl dd a:hover {
  -webkit-text-decoration: underline 2px solid #888888;
          text-decoration: underline 2px solid #888888;
  text-underline-offset: 5px;
}
.page-works .point {
  max-width: 960px;
  margin: 0 auto 80px;
  padding: 0 20px;
}
.page-works .point h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.page-works .point ul {
  width: 60%;
  margin: 0 auto;
  list-style: disc;
  padding-left: 1em;
  margin-top: 10px;
}

/* フィルタリングボタン */
.works-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
  gap: 0 30px;
}
.works-btn button {
  padding: 10px 20px;
  border: 2px solid #176aae;
  color: #176aae;
}
.works-btn button.mixitup-control-active {
  background-color: #176aae;
  color: #fff;
}