$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;

$font-size-base: 16px;
$line-height-base: 1.7;

$color-base: #111;
$background-color-base: #fafafa;
$color-key1: #f5810e;
$color-key2: #fabe00;
$color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);

$width-inner: 1140px;

$breakpoints: (
  sp: "not screen and (max-width: 768px) ",
  pc: "screen and (min-width: 768px) ",
);

@use "sass:map";
@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// html {
//   // スムーススクロール
//   scroll-behavior: smooth; //auto or smooth
// }

body {
  font-size: 16px;
  line-height: $line-height-base;
  color: $color-base;
  font-family: $font-family-ja;
  background-color: $background-color-base;
}

.hidden-sp {
  @include mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include mq(pc) {
    display: none;
  }
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc($width-inner + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.heading {
  text-align: center;
  font-family: $font-family-en;
}

.heading__en {
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;

  @include mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.heading__ja {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.12px;
  margin-top: 14px;

  @include mq(pc) {
    font-size: 16px;
    letter-spacing: 1.28px;
  }
}

.button {
  font-weight: 700;
  letter-spacing: 0.48px;
  border: 2px solid currentColor;
  border-radius: 60px;
  padding: calc(10px - 2px) calc(30px - 2px);
  display: inline-block;
  background: #ffffff;
  font-size: 16px;
  line-height: 1.7;
  color: $color-base;
  min-width: 150px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $color-key2;
  }

  &--type2 {
    background-color: #111;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

// ------------------header---------------------

.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 22px 15px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc($width-inner + 30px * 2);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 21px;
  }
}

.header__logo {
  @include mq(pc) {
    padding-top: 8px;
  }
  a {
    img {
      width: 100px;
      display: block;

      @include mq(pc) {
        width: 135px;
        height: 35px;
      }
    }
  }
}

.header__nav {
  display: none;

  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.header__link {
  font-weight: 700;
  letter-spacing: 0.48px;
  transition: color 0.3s;

  &:hover {
    color: $color-key1;
  }
}

.header__button {
  // font-weight: 700;
  // letter-spacing: 0.48px;
  // border: 2px solid #111;
  // border-radius: 60px;
  // padding: calc(10px - 2px) calc(30px - 2px);
  // display: inline-block;
  // background: #ffffff;
}

.header__open {
  margin-top: 3px;

  @include mq(pc) {
    display: none;
  }
}

.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
  z-index: 51;

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        transform: rotate(30deg);
        top: 10px;
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        transform: rotate(-30deg);
        top: 10px;
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: #111;
  transition: transform 0.3s linear, top 0.3s linear;
  &:nth-of-type(2) {
    top: 9px;
  }
  &:nth-of-type(3) {
    top: 18px;
  }
}
// -------------------drawer-------------------

.drawer-content {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f7ba1a;
  z-index: 50;
  padding: 86px 40px 40px;
  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateX(0);
  }
}

.drawer-content__menu {
}

.drawer-content__link {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: right;
  font-weight: 700;
  letter-spacing: 0.48px;
}

.drawer-content__button {
  margin-top: 14px;
  text-align: right;
}

// ---------------------------------mv---------

.mv {
  border-radius: 20px;
  max-width: calc(100% - 15px * 2);
  margin-left: auto;
  margin-right: auto;
  background: $color-gradation;

  @include mq(pc) {
    border-radius: 30px;
    max-width: calc(100% - 30px * 2);
  }
}

.mv__inner {
  padding: 50px 20px 255px;
  position: relative;

  @include mq(pc) {
    padding-top: 110px;
    padding-bottom: 109px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(1040px + 30px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.mv__content {
}

.mv__lead {
}

.mv__lead1,
.mv__lead2 {
  font-feature-settings: "palt" on;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2.2px;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    margin-left: 0;
    margin-right: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.mv__lead1 {
}

.mv__lead2 {
  margin-top: 8px;

  @include mq(pc) {
    margin-top: 14px;
  }
}

.mv__description {
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 26px;

  @include mq(pc) {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.54px;
    margin-top: 20px;
  }
}

.mv__button {
  margin-top: 22px;
  text-align: center;

  @include mq(pc) {
    text-align: left;
    margin-top: 30px;
  }

  a {
    // color: #fff;
    // font-weight: 700;
    // letter-spacing: 0.48px;
    // text-align: center;
    // padding: calc(10px - 2px) calc(30px - 2px);
    // display: inline-block;
    // border-radius: 60px;
    // border: 2px solid #fff;
    // background: #111;
  }
}

.mv__image {
  position: absolute;
  right: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;

  @include mq(pc) {
    width: calc(600px / 1040px * 100%);
    text-align: right;
    bottom: -88px;
    right: 30px;
  }

  img {
    width: 345px;

    @include mq(pc) {
      width: 600px;
    }
  }
}

//-------- case --------

.case {
  margin-top: 108px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.case__inner {
  padding-left: 40px;
  padding-right: 40px;

  @include mq(pc) {
    max-width: calc(920px + 40px * 2);
    margin-left: auto;
    margin-right: auto;
  }
}

.case__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: center;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 1s, transform 1s;

  &.is-in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1s;

  &.is-in-view {
    opacity: 1;
  }
}

.case__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
  margin-top: 30px;

  @include mq(pc) {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
    margin-top: 54px;
  }
}

.case__item {
  text-align: center;
  img {
  }
}

// --------------------------news-----------------------------

.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.news__inner {
  // padding-left: 15px;
  // padding-right: 15px;

  // @include mq(pc) {
  //   padding-left: 30px;
  //   padding-right: 30px;
  //   max-width: calc($width-inner + 30px * 2);
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.news__card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 40px 12px;

  @include mq(pc) {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-left: calc(105px / 1140px * 100%);
    padding-right: calc(105px / 1140px * 100%);
  }
}

.news__title {
  font-family: $font-family-en;
  font-size: 38px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: center;

  @include mq(pc) {
    font-size: 50px;
    letter-spacing: 5px;
    text-align: left;
  }
}

.news__lists {
  margin-top: 28px;

  @include mq(pc) {
    margin-top: 30px;
  }
}

.news__list {
  &:nth-child(n + 2) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: #e3e3e3;
    }
  }
}

.news-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s;

  @include mq(pc) {
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 0;
  }

  &:hover {
    background-color: #fff9e5;
  }
}

.news-link__meta {
  display: flex;
  align-items: center;
  gap: 12px;

  @include mq(pc) {
    width: 247px;
    flex-shrink: 0;
    gap: 14px;
  }
}

.news-link__date {
  color: #333;
  white-space: nowrap;

  @include mq(pc) {
    width: 119px;
  }
}

.news-link__label {
  padding: 2px 10px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  border-radius: 2px;
  min-width: 63px;
  text-align: center;

  &.is-news {
    background: #e4780c;
  }

  &.is-column {
    background: #ecb815;
  }

  &.is-event {
    background: #389b47;
  }
}

.news-link__title {
}

.news__link {
  text-align: right;
  margin-top: 22px;

  @include mq(pc) {
    margin-top: 20px;
  }

  a {
    font-weight: 700;
    line-height: 1;
    border-bottom: 2px solid currentColor;
    padding-bottom: calc(10px - 2px);
    display: inline-block;
    vertical-align: top;
    transition: color 0.3s;

    &:hover {
      color: $color-key2;
    }
  }
}

// ---------------about---------------

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;

  @include mq(pc) {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.about__inner {
}

.about__title {
  text-align: center;

  img {
    width: 180px;

    @include mq(pc) {
      width: 230px;
    }
  }
}

.about__content {
  margin-top: 150px;
  padding-top: 288px;
  padding-bottom: 105px;
  position: relative;
  text-align: center;

  @include mq(pc) {
    margin-top: 176px;
    padding-top: 284px;
    padding-bottom: 100px;
  }

  &::before {
    content: "";
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background: $color-gradation;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

    @include mq(pc) {
      width: 800px;
      height: 800px;
    }
  }
}

.about__image {
  position: absolute;
  text-align: center;
  top: -110px;
  left: 0;
  width: 100%;

  @include mq(pc) {
    top: -126px;
  }

  img {
    width: 320px;

    @include mq(pc) {
      width: 330px;
    }
  }
}

.about__text {
  font-weight: 700;
  line-height: 2.3;
}

.about__pop {
  margin-top: 43px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.28px;

  @include mq(pc) {
    margin-top: 43px;
  }
}

.about__button {
  margin-top: 12px;

  @include mq(pc) {
    margin-top: 15px;
  }

  button {
    // font-weight: 700;
    // letter-spacing: 0.48px;
    // border: 2px solid #111;
    // border-radius: 60px;
    // padding: calc(10px - 2px) calc(30px - 2px);
    // display: inline-block;
    // background: #ffffff;
    // font-size: 16px;
    // line-height: 1.7;
  }
}

// ----------------------about-modal-------------------------

.about-modal {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: calc(100% - 15px * 2);
  max-height: calc(100% - 20px * 2);
  overflow: auto;
  padding: 16px 15px 64px;
  border-radius: 20px;
  background: #fff;
  border: none;
  z-index: 60;
  overscroll-behavior-y: none;

  @include mq(pc) {
    width: 1140px;
    padding: 49px 70px 75px;
  }

  &::backdrop {
    opacity: 0.2;
    background: #000;
  }
}

.about-modal__head {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.about-modal__close-icon {
  img {
    width: 37px;
  }
}

.about-modal__body {
  margin-top: 12px;

  @include mq(pc) {
    margin-top: 43px;
  }

  p {
    font-size: 14px;

    @include mq(pc) {
      font-size: 16px;
    }

    &:nth-child(n + 2) {
      margin-top: 20px;
    }
  }
}

.about-modal__close-button {
  margin-top: 30px;
  text-align: center;
}

// -------------------------------movie--------------------------------

.movie {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left / 529px auto;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.movie__inner {
  padding-left: 15px;
  padding-right: 15px;
}

.movie__title {
  // text-align: center;
}

.movie__title-en {
  // font-family: $font-family-en;
  // font-size: 38px;
  // font-weight: 700;
  // line-height: 1;
  // letter-spacing: 3.8px;

  // @include mq(pc) {
  //   font-size: 50px;
  //   letter-spacing: 5px;
  // }
}

.movie__title-ja {
  // font-family: $font-family-en;
  // font-size: 14px;
  // font-weight: 400;
  // line-height: 1;
  // letter-spacing: 1.12px;
  // margin-top: 14px;

  // @include mq(pc) {
  //   font-size: 16px;
  //   letter-spacing: 1.28px;
  // }
}

.movie__iframe {
  margin-top: 32px;
  text-align: center;

  @include mq(pc) {
    margin-top: 56px;
  }

  iframe {
    width: 345px;
    max-width: 100%;
    height: auto;
    aspect-ratio: 345 / 194;
    vertical-align: top;

    @include mq(pc) {
      width: 640px;
      aspect-ratio: 640 / 360;
    }
  }
}

// ------------------how-to-use-------------------------

.how-to-use {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.how-to-use__inner {
}

.how-to-use__title {
}

.how-to-use__boxes {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  gap: 112px;

  @include mq(pc) {
    margin-top: 89px;
    gap: 75px;
  }
}

.how-to-use__box {
  border-radius: 30px;
  background: #fffbf0;
  padding: 54px 40px 48px;

  @include mq(pc) {
    padding: 44px 10px 56px;
    border-radius: 40px;
  }
}

.how-to-use__box-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  position: relative;

  @include mq(pc) {
    font-size: 22px;
    letter-spacing: 2.2px;
    padding-right: 95px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 85px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: calc(100% + 16px);

    @include mq(pc) {
      right: 0;
      transform: translateX(0);
      bottom: 0;
    }
  }

  .is-type2 & {
    @include mq(pc) {
      padding-right: 0;
      padding-left: 95px;

      img {
        right: auto;
        left: 0;
      }
    }
  }
}

.how-to-use__steps {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mq(pc) {
    margin-top: 40px;
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    gap: 24px;
  }
}

.how-to-use__step {
  @include mq(pc) {
    // width: calc(33.3% - 24px * 2 / 3);
    flex: 1;
  }
}

.step-box {
  padding-top: 45px;
  position: relative;
}

.step-box__head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #111;
  background: #f5810e;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .is-type2 & {
    background-color: #fabe00;
  }
}

.step-box__head-text {
  font-family: $font-family-en;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.3px;
}

.step-box__head-number {
  color: #fff;
  font-family: $font-family-en;
  font-size: 34px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3.4px;
  margin-top: 3px;
}

.step-box__body {
  border-radius: 30px;
  border: 3px solid #111;
  background: #fff;
  padding: calc(50px - 3px) 10px calc(26px - 3px);
  text-align: center;
}

.step-box__image {
  img {
    width: 160px;

    @include mq(pc) {
      width: 200px;
    }
  }
}

.step-box__text {
  font-weight: 700;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

// ------------------merit----------------------------------------

.merit {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 98px;
  }
}

.merit__inner {
}

.merit__title {
}

.merit__boxes {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(pc) {
    margin-top: 60px;
    gap: 40px;
  }
}

.merit__box {
}

.merit-box {
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px 24px;

  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 18px;
    flex-direction: row-reverse;
  }

  &.is-reverse {
    @include mq(pc) {
      flex-direction: row;
    }
  }
}

.merit-box__content {
  @include mq(pc) {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: row-reverse;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }

  .is-reverse & {
    @include mq(pc) {
      flex-direction: row;
    }
  }
}

.merit-box__image {
  text-align: center;

  @include mq(pc) {
    width: calc(350 / 920 * 100%);
  }

  img {
    width: 200px;
    @include mq(pc) {
      width: 350px;
    }
  }
}

.merit-box__body {
  margin-top: 18px;

  @include mq(pc) {
    width: calc(520 / 920 * 100%);
    margin-top: 0;
  }
}

.merit-box__head {
  display: flex;
  gap: 14px;
  align-items: center;

  @include mq(pc) {
    gap: 28px;
  }
}

.merit-box__number {
  color: #fabe00;
  font-family: $font-family-en;
  font-size: 70px;
  font-weight: 600;
  line-height: 1;

  @include mq(pc) {
    font-size: 110px;
  }
}

.merit-box__title {
  font-family: $font-family-en;
  font-weight: 700;
  letter-spacing: 1.6px;

  @include mq(pc) {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.merit-box__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 2;

  @include mq(pc) {
    margin-top: 16px;
    font-size: 15px;
  }
}
// ----------------------cta--------------------

.cta {
  background: $color-gradation;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mq(pc) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.cta__inner {
}

.cta__text {
  font-weight: 700;
  line-height: 200%; /* 32px */
  letter-spacing: 0.48px;

  @include mq(pc) {
    font-size: 18px;
    letter-spacing: 0.54px;
  }
}

.cta__button {
  margin-top: 16px;
}

// ----------------------compare--------------------

.compare {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.compare__inner {
}

.compare__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  @include mq(pc) {
    font-size: 24px;
  }
}

.compare__content {
  margin-top: 40px;
  overflow-x: auto;
  padding-bottom: 38px;

  @include mq(pc) {
    margin-top: 60px;
    padding-bottom: 0;
  }
}

.compare__table {
  width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    width: 1000px;
  }

  th,
  td {
    text-align: center;
    font-weight: 700;
    height: 60px;
    vertical-align: middle;

    @include mq(pc) {
      height: 100px;
    }

    &:nth-child(1) {
      width: 130px;

      @include mq(pc) {
        width: 250px;
      }
    }

    &:nth-child(2) {
      width: 90px;
      background: #fff9e5;
      font-size: 16px;
      letter-spacing: 0.48px;

      @include mq(pc) {
        width: 250px;
        font-size: 25px;
        letter-spacing: 0.75px;
      }
    }
  }

  img {
    width: 70px;

    @include mq(pc) {
      width: 123px;
    }
  }

  th {
    letter-spacing: 0.48px;

    @include mq(pc) {
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }

  td {
    font-size: 14px;
    letter-spacing: 0.42px;

    @include mq(pc) {
      font-size: 16px;
      letter-spacing: 0.48px;
    }
  }

  thead {
    th {
      letter-spacing: 1.6px;

      @include mq(pc) {
        letter-spacing: 2px;
      }
    }
  }

  tbody {
    tr {
      border-top: 1.5px solid #000;

      @include mq(pc) {
        border-top-width: 3px;
      }
    }

    th,
    td {
      height: calc(60px - 1.5px);

      @include mq(pc) {
        height: calc(100px - 1.5px);
      }
    }
  }
}

.compare__attention {
  margin-top: 11px;
  color: #686868;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  @include mq(pc) {
    display: none;
  }
}

// -----------------QA--------------------------------------

.qa {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.qa__inner {
  @include mq(pc) {
    max-width: calc(800px + (30px * 2));
    padding-left: 30px;
    padding-right: 30px;
  }
}

.qa__title {
}

.qa__boxes {
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  gap: 42px;

  @include mq(pc) {
    margin-top: 74px;
  }
}

.qa__box {
}

.qa-box {
  border-radius: 10px;
  border: 3px solid #111;
  background: #fff;

  &.is-open {
    .qa-box__head {
      &::after {
        transform: rotate(0deg);
      }
    }

    // .qa-box__body {
    //   display: block;
    // }
  }
}

.qa-box__head {
  padding: calc(32px - 3px) calc(40px - 3px) calc(20px - 3px) calc(15px - 3px);
  position: relative;
  display: block;
  width: 100%;

  @include mq(pc) {
    padding: calc(32px - 3px) calc(80px - 3px) calc(20px - 3px) calc(20px - 3px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 9.26px;
    height: 6.834px;
    background: url(../img/qa-arrow.png) no-repeat center / contain;
    transform: rotate(180deg);
    margin-top: 3px;

    @include mq(pc) {
      right: 18px;
      margin-top: 7px;
    }
  }
}

.qa-box__head-icon {
  position: absolute;
  top: -25px;
  left: 12px;
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #111;
  background: #f5810e;
  font-family: $font-family-en;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  // letter-spacing: 2.2px;
  // text-indent: 2.2px;

  @include mq(pc) {
    left: 18px;
  }
}

.qa-box__head-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  text-align-last: left;

  @include mq(pc) {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.28px;
  }
}

.qa-box__body {
  padding: calc(10px + 3px) calc(17px - 3px) calc(20px - 3px) calc(15px - 3px);
  display: none;

  @include mq(pc) {
    padding: 3px calc(36px - 3px) calc(20px - 3px) calc(20px - 3px);
  }
}

.qa-box__a {
  display: flex;
  gap: 8px;

  @include mq(pc) {
    gap: 10px;
  }
}

.qa-box__a-icon {
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 3px solid #111;
  background: #fabe00;
  font-family: $font-family-en;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  flex-shrink: 0;
  // letter-spacing: 2.2px;
  // text-indent: 2.2px;
}

.qa-box__a-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.12px;
  flex-grow: 1;
  padding-top: 12px;

  @include mq(pc) {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.28px;
    padding-top: 10px;
  }
}

// -----------------gallery------------------------------------

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.gallery__inner {
  @include mq(pc) {
    width: calc(800px + 30px * 2);
    padding-left: 30px;
    padding-right: 30px;
  }
}

.gallery__title {
}

.gallery__slider {
  margin-top: 30px;

  @include mq(pc) {
    margin-top: 60px;
  }
}

.swiper {
}

.gallery__swiper {
  padding-bottom: 26px;
  padding-left: 5px;
  padding-right: 5px;
  // padding相殺
  margin-left: -5px;
  margin-right: -5px;

  @include mq(pc) {
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.swiper-wrapper {
}

.swiper-slide {
}

.gallery__slide {
}

.gallery-card {
  border-radius: 20px;
  border: 3px solid #111;
  background: #fff;
  box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: calc(15px - 3px) calc(15px - 3px) calc(12px - 3px) calc(15px - 3px);

  @include mq(pc) {
    border-radius: 30px;
    padding: calc(20px - 3px) calc(20px - 3px) calc(18px - 3px) calc(20px - 3px);
  }
}

.gallery-card__image {
  text-align: center;
  img {
    border-radius: 10px;

    @include mq(pc) {
      border-radius: 20px;
    }
  }
}

.gallery-card__text {
  margin-top: 11px;
  text-align: center;
  font-size: 14px;

  @include mq(pc) {
    margin-top: 18px;
    font-size: 16px;
  }
}

.swiper-pagination {
}

.gallery__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: 0 !important;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: #bcbcbc;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background: #fabe00;
    }
  }
}

.gallery__prev,
.gallery__next {
  width: 40px;
  height: 40px;
  margin-top: -38px;

  @include mq(pc) {
    width: 50px;
    height: 50px;
    margin-top: -55px;
  }
  &::after {
    display: none;
  }
}

.gallery__prev {
  left: 0;
  background: url(../img/prev-icon.png) no-repeat center center/ contain;

  @include mq(pc) {
    left: 10px;
  }
}

.gallery__next {
  right: 0;
  background: url(../img/next-icon.png) no-repeat center center/ contain;

  @include mq(pc) {
    right: 10px;
  }
}

// ---------------contact---------------------------------

// ---------------(共通)---------------

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../img/section-bg.png) repeat top left / 529px auto;

  @include mq(pc) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.contact__inner {
}

.contact__box {
  background: #fff;
  border-radius: 30px;
  padding: 60px 20px;

  @include mq(pc) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contact__title {
}

.contact__form {
  margin-top: 30px;

  @include mq(pc) {
    margin-top: 50px;
    max-width: 612px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact__field {
}

.form-field {
  @include mq(pc) {
    display: flex;
    gap: 32px;
  }
}

.form-field__head {
  display: flex;
  align-items: center;
  gap: 10px;

  @include mq(pc) {
    width: calc(212px - 32px);
    flex-shrink: 0;
    justify-content: flex-end;
  }
}

.form-field__label {
  font-weight: 700;
  // 行間の高さは文字サイズに対して計算した場合1.43%又は23pxに設定する
  line-height: calc(23 / 16);
}

.form-field__tag {
  display: inline-block;
  padding: 6px 8px 5px;
  font-size: 11px;
  border-radius: 2px;
  background: #ee8013;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.98px;

  &.is-option {
    background-color: #43b549;
  }
}

.form-field__item {
  margin-top: 15px;
  flex-grow: 1;

  @include mq(pc) {
    margin-top: 0;
  }

  // [type="text"],
  // [type="email"] {
  //   width: 100%;
  //   border-radius: 5px;
  //   background: #fff;
  //   border: 3px solid #111;
  //   padding: 15px 16px 14px;
  // }

  // [type="radio"] {
  //   width: 1px;
  //   height: 1px;
  //   position: absolute;
  //   clip: rect(0, 0, 0, 0);
  //   overflow: hidden;

  //   &:checked {
  //     + .form-field__radio-text {
  //       &::after {
  //         opacity: 1;
  //       }
  //     }
  //   }
  // }

  // select {
  //   appearance: none;
  //   width: 100%;
  //   border-radius: 5px;
  //   border: 3px solid #111;
  //   background: #fff;
  //   font-weight: 700;
  //   padding: 15px 46px 14px 16px;
  //   background: url(../img/select-arrow.png) no-repeat center right 16px /
  //     9.451px 6.969px;
  // }

  // textarea {
  //   width: 100%;
  //   height: 180px;
  //   border-radius: 5px;
  //   border: 3px solid #111;
  //   background: #fff;
  //   padding: 16px;
  // }
}

// ---------------(text)---------------------------------

.form-text {
  width: 100%;
  border-radius: 5px;
  background: #fff;
  border: 3px solid #111;
  padding: calc(15px - 3px) calc(16px - 3px) calc(14px - 3px);
  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $color-key2;
    outline: none;
  }
}

// ---------------(radio)---------------------------------

.form-field__radios {
  display: flex;
  flex-direction: column;
  gap: 17px;

  @include mq(pc) {
    flex-direction: row;
    gap: 30px;
  }
}

.form-radio__text {
  font-weight: 700;
  padding-left: 28px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    width: 24px;
    height: 24px;
    border: 3px solid #111;
    left: 0;
    transition: border-color 0.3s;
  }

  &::after {
    background: #f5810e;
    width: 10px;
    height: 10px;
    left: 7px;
    opacity: 0;
  }
}

.form-field__radio {
}

// .form-field__radio-text {
//   font-weight: 700;
//   padding-left: 28px;
//   position: relative;

//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     border-radius: 50%;
//   }

//   &::before {
//     width: 24px;
//     height: 24px;
//     border: 3px solid #111;
//     left: 0;
//   }

//   &::after {
//     background: #f5810e;
//     width: 10px;
//     height: 10px;
//     left: 7px;
//     opacity: 0;
//   }
// }

.form-radio {
  line-height: calc(23 / 16);

  &:hover {
    .form-radio__text {
      &::before {
        border-color: $color-key2;
      }
    }
  }
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked {
    + .form-radio__text {
      &::after {
        opacity: 1;
      }
    }
  }

  &:focus {
    + .form-radio__text {
      &::before {
        border-color: $color-key2;
      }
    }
  }
}

// ---------------(select)---------------------------------

.form-select {
  appearance: none;
  width: 100%;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  font-weight: 700;
  padding: calc(15px - 3px) calc(46px - 3px) calc(14px - 3px) calc(16px - 3px);
  background: url(../img/select-arrow.png) no-repeat center right 14px / 9.451px
    6.969px;
  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $color-key2;
    outline: none;
  }
}

// ---------------(textarea)---------------------------------

.form-textarea {
  width: 100%;
  height: 180px;
  border-radius: 5px;
  border: 3px solid #111;
  background: #fff;
  padding: calc(16px - 3px);
  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $color-key2;
    outline: none;
  }
}

// ---------------(privacy)---------------------------------

.contact__privacy {
  margin-top: 29px;
  text-align: center;
}

.form-checkbox {
  &:hover {
    .form-checkbox__text {
      &::before {
        border-color: $color-key2;
      }
    }
  }
}

.form-checkbox__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked {
    + .form-checkbox__text {
      &::after {
        opacity: 1;
      }
    }
  }

  &:focus {
    + .form-checkbox__text {
      &::before {
        border-color: $color-key2;
      }
    }
  }
}

.form-checkbox__text {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 170%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border: 1px solid #111;
    transition: border-color 0.3s;

    @include mq(pc) {
      margin-top: 2px;
    }
  }

  &::after {
    width: 23px;
    height: 17.53px;
    left: -1px;
    margin-top: -1.2px;
    background: url(../img/check-icon.png) no-repeat center center / contain;
    opacity: 0;

    @include mq(pc) {
      margin-top: 0.8px;
    }
  }

  a {
    text-decoration-line: underline;
    font-weight: inherit;
    transition: color 0.3s;

    &:hover {
      color: $color-key1;
    }
  }
}

// ---------------(button)---------------------------------

.contact__button {
  margin-top: 29px;
  text-align: center;

  @include mq(pc) {
    margin-top: 38px;
  }
}

// ----------------------footer------------------------

.footer {
  background: #111;
  padding-top: 8px;
  padding-bottom: 12px;
  text-align: center;
}

.footer__inner {
}

.footer__copyright {
  color: #f5f5f5;
  font-size: 12px;
  line-height: 100%; /* 12px */
  letter-spacing: 0.96px;
}

.pagetop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: min(calc(50 / 375 * 100%), 50px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  @include mq(pc) {
    right: 16px;
    bottom: 30px;
    width: 76px;
  }

  img {
    // width: 50px;

    // @include mq(pc) {
    //   width: 76px;
    // }
  }
}
