html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
:after,
:before {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden],
template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search][type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted;
}

[type=reset],
[type=submit],
button,
html [type=button] button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  width: 25%;
  height: 100vh;
  background-color: #f0ffe4;
  position: sticky;
  top: 0;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 18vh;
    padding: 20px;
    position: static;
  }
}
header h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header h1 {
    margin-bottom: 10px;
  }
}
header p {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  header p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

#g-nav {
  padding: 20px;
}
@media screen and (max-width: 767px) {
  #g-nav {
    display: none;
  }
}
#g-nav li {
  margin-bottom: 20px;
}
#g-nav li.current a {
  background-color: #333;
  color: #fff;
}
#g-nav a {
  color: #333;
  padding: 4px 10px;
}

main {
  width: 75%;
  background-color: #fff0e5;
}
@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }
}

.kadai-section {
  min-height: 100vh;
  padding: 80px 20px;
}
.kadai-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}
.kadai-section h2::after {
  display: block;
  font-size: 20px;
  content: attr(data-en);
  font-weight: normal;
}
.kadai-section p {
  max-width: 680px;
  margin: 0 auto;
  line-height: 2;
}

.kadai-list {
  padding: 50px 0 50px 50px;
  list-style: disc;
}
.kadai-list li {
  margin-bottom: 20px;
}
.kadai-list li a {
  color: #333;
}
.kadai-list li a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

.main-visual {
  width: 100%;
  height: 80vh;
}
.main-visual img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
  width: 100%;
  height: 100%;
}

.main-copy {
  padding: 50px 20px;
}
.main-copy h2 {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .main-copy h2 {
    font-size: 18px;
  }
}

.lead {
  max-width: 600px;
  font-size: 18px;
  margin: 0 auto 50px;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .lead {
    font-size: 14px;
  }
}

.free {
  width: 100%;
  height: 100vh;
  background-color: #cbffe5;
}